<ion-content [fullscreen]="false">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header> All Warnings </ion-list-header>
          <ion-select
            placeholder="Select One"
            value="9E9C13B6-3FC6-4875-BD37-B9511DE0B082"
          >
            <ion-select-option
              value="9E9C13B6-3FC6-4875-BD37-B9511DE0B082"
              selected
              >9E9C13B6-3FC6-4875-BD37-B9511DE0B082</ion-select-option
            >
            <ion-select-option value="9E9C13B6-3FC6-4875-BD37-B9511DE0B083"
              >9E9C13B6-3FC6-4875-BD37-B9511DE0B083</ion-select-option
            >
          </ion-select>

          <ion-item *ngFor="let warning of warnings">
            <ion-avatar slot="start">
              <img src="assets/alert-circle-outline.svg" />
            </ion-avatar>
            <ion-label *ngIf="warning.type == 1">
              <h2>Face Mask</h2>
              <h3>{{warning.createdAtUtc | date}}</h3>
              <p>A person in this room doesn't wear a face mask</p>
            </ion-label>
            <ion-label *ngIf="warning.type == 2">
              <h2>Distance violated</h2>
              <h3>{{warning.createdAtUtc | date}}</h3>
              <p>People in this room are too close to each other</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
