<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Name</h2>
      </ion-col>
      <ion-col>
        <h5>User</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Surname</h2>
      </ion-col>
      <ion-col>
        <h5>User</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Address</h2>
      </ion-col>
      <ion-col>
        <h5>Topniška ulica 30</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Country</h2>
      </ion-col>
      <ion-col>
        <h5>Slovenia</h5>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
